
    body {
        background-image:url(".../Ghana1.JPG");
        background-repeat: repeat;
        background-size:cover;
        padding-top: 80px;
    }
  
  
    h1{
      font-size: 50px;
      text-align: center;
      font-family: 'Anton', sans-serif;
  }
  .col-md-5p{
      font-family: 'Enriqueta', serif;
      
  }
  h2{
      font-family: 'Anton', sans-serif; 
      color: coral; 
      align:center;
  }
 .one{
   text-align: center;
 }
